{%extends "base.html" %}
{%block content%}
<div class=row>
<div class=col-md-12>
<h2>Welcome {{ user }}</h2>

<p><b>What is the collaborative learning model?</b></p>
<p>
Collaborative learning is an educational approach to teaching and learning that involves groups of students working together to solve a problem, complete a task, or create a product. ... Learners benefit when exposed to diverse viewpoints from people with varied backgrounds.

</p>
<p>
This system helps user to find content that is more suitable for him/her.
</p>

</div>
</div>
  
{% endblock %}
